<%= form_for(@commet) do |f| %>
  <% if @commet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@commet.errors.count, "error") %> prohibited this commet from being saved:</h2>

      <ul>
      <% @commet.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title_id %><br>
    <%= f.number_field :title_id %>
  </div>
  <div class="field">
    <%= f.label :body %><br>
    <%= f.text_area :body %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
