<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @commet.title_id %>
</p>

<p>
  <strong>Body:</strong>
  <%= @commet.body %>
</p>

<%= link_to 'Edit', edit_commet_path(@commet) %> |
<%= link_to 'Back', commets_path %>
